@charset "utf-8";

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  text-align: center;
}
